<!DOCTYPE html>
<html lang="en">
<head>
  <title>Frontend course</title>
  <meta charset="utf-8" />

  <link rel="stylesheet" type="text/css" href="../styles/stylesForms.css">

</head>
<body>
  <img class="progress-bar" src="../images/progress-bar.png" alt="">
  <div class="header">

    <div class="container clearfix">
      <div class="logo"><a href="index.html"><img src="../images/palo-alto.png" alt="Logo"></a>
      </div>

      <ul class="navigation">
        <li><a href="">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">archieve</a></li>
        <li><a href="#" class="disabled">contact</a></li>
        <li><a href="#"><img class="search"  src="../images/search.png" alt="search"></a></li>
      </ul>

    </div>
  </div>

    <div class="container clearfix container-for-content">
        <ul class="margin-container">
        <li><h1 class="head-of-article">Contact Us</h1></li>
        <li class="article-text">Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.</li>
        <hr class="separator">

          <input class="input" type="text" maxlength="15" placeholder="Your Name" name="">
          <input class="input" type="text" maxlength="20" placeholder="E-Mail" name="">
          <input class="input input-subject" maxlength="40" type="text" placeholder="Subject" name="">
          <textarea class ="input input-message" maxlength="600" placeholder="Your Message"></textarea>
        <div>
        <button class="send-message"><a href="#"></a>send message</button>
        </div>
      </ul>
    </div>

    <footer class="footer">
    <ul class="footer-margin-container">
      <li class="footer-logo"><img src="../images/palo-alto.png"></li>
      <div class="footer-navigation">
        <li><a href="" class="disabled">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">archieve</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#"><img src="../images/footer-search.png" alt="search"></a></li>
      </div>
      <hr class="footer-separator">
      <li class="footer-text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</li>
      <hr class="footer-separator">
      <li class="footer-text">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <a href="#">PixelBuddha Team</a></li>
      <li class="social-networks">
        <a href="#"><img src="../images/instagram.png" alt=""></a>
        <a href="#"><img src="../images/facebook.png" alt=""></a>
        <a href="#"><img src="../images/pinterest.png" alt=""></a>
        <a href="#"><img src="../images/twitter.png" alt=""></a>
      </li>
    </ul>
  </footer>

</body>
</html>
