{% extends "layout.html" %}
{% set navInactiveItem = 1 %}
<!DOCTYPE html>
<html>

<body class="body">

  {% block main %}
  <section class="section container">

      <article class="article">
        <ul class="paddings">
          <button class="article__i-do-button"><a href="#">I Do Travel</a></button>
          <li class="article__date">Sep 20</li>
          <li><h1 class="article__head-of-article">No difference how many peaks you reach if there was no pleasure in the climb.</h1></li>
          <hr class="article__separator">
          <li class="article__article-text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
          </li>
          <div class="article-footer">
          <button class="article-footer__read-more"><a href="#"></a>read more</button>
            <ul class="article-footer-hashtags">
              <li class="article-footer-hashtags__tags"><a href="#">#Yosemite</li></a>
              <li class="article-footer-hashtags__tags"><a href="#">#Peak</li></a>
              <li class="article-footer-hashtags__tags"><a href="#">#Explorer</li></a>
            </ul>
          </div>
        </ul>
      </article>


      <article class="article">
        <img class="article__cover-image" srcset="../images/article-image1.jpg 1x, ../images/article-image1-2x.jpg 2x" alt="cover of article"/>
        <ul class="paddings">
          <button class="article__i-do-button"><a href="#">I Do Observe</a></button>
          <li class="article__date">Sep 18</li>
          <li><h1 class="article__head-of-article">You know, I'd rather argue with you, then laugh with anyone else. </h1></li>
          <hr class="article__separator">
          <li class="article__article-desc">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae.</li>
          <li class="article__article-text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
          </li>
          <div class="article-footer">
          <button class="article-footer__read-more"><a href="#"></a>read more</button>
            <ul class="article-footer-hashtags">
              <li class="article-footer-hashtags__tags"><a href="#">#Yosemite</li></a>
              <li class="article-footer-hashtags__tags"><a href="#">#Peak</li></a>
              <li class="article-footer-hashtags__tags"><a href="#">#Photo</li></a>
            </ul>
          </div>
        </ul>
      </article>

      <article class="article">
        <ul class="paddings">
          <button class="article__i-do-button"><a href="#">I Do Reflect</a></button>
          <li class="article__date">Sep 11</li>
          <li><h1 class="article__head-of-article">Democracy means simply the bludgeoning of the people by the people for the people.</h1></li>
          <hr class="article__separator">
          <img class="article__image" srcset="../images/article-image2.jpg 1x, ../images/article-image2-2x.jpg 2x" alt="TAAAtatata"/>
          <li class="article__article-text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
          <p>Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum eleifend dui et efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem, <a class="intext-link" href="">vestibulum malesuada</a> justo aliquet eget. Nunc lacus ante, varius a euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam augue nisi, venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae egestas eleifend. Aliquam quis orci dignissim, posuere nibh a, eleifend augue. Cras quis metus nec tortor aliquet ullamcorper. Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat turpis.</p>
          </li>
          <p>
            <li class="line">Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit<br />lectus turpis, a porttitor velit imperdiet id.</li>
          </p>
          <li class="article__article-text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor. Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat tincidunt. Aliquam gravida quam at ipsum sagittis bibendum.</li>
          <div class="article-footer">
          <button class="article-footer__read-more"><a href="#"></a>read more</button>
            <ul class="article-footer-hashtags">
              <li class="article-footer-hashtags__tags"><a href="#">#Democracy</li></a>
              <li class="article-footer-hashtags__tags"><a href="#">#Introspection</li></a>
            </ul>
          </div>
        </ul>
      </article>
  </section>
  {% endblock %}

</body>
</html>