/*The fonts installed on the system,
but the first step to their connection
has already been made in the CSS*/

@font-face {
  font-family:LatoBold;
  src:url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family:LatoRegular;
  src:url(../fonts/Lato-Regular.ttf);
}

.body {
  background-color: #f7f9fc;
  margin: 0 auto;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.paddings { /* Вспомогательная штука */
  padding: 0 100px;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

ol, ul {
  list-style: none;
}

 p {
  margin-top: 30px;
 }

.progress-bar {
  position: absolute;
}

.header {
  padding: 80px 0;
}

.logo {
  float: left;
}

.navigation {
  float: right;
  padding-top: 10px;
}

.navigation__link {
  float: left;
  margin-right: 35px;
}

.navigation__link:last-child {
  margin-right: 0;
}

.navigation__link a {
  text-transform: uppercase;
  font: 16px LatoBold, serif;
  color: #333333;
}

.navigation__link a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #5c6bc0;
    transition: width 0.7s ease-in-out;
}

.navigation__link a:hover:after,
.navigation__link a:focus:after {
    width: 100%;
}

.navigation__link a:active {
  text-transform: uppercase;
  font: 16px LatoBold, serif;
  color: #5c6bc0;
}

.intext-link {
  text-decoration: underline;
  color: #8792d1;
}

.line {
  border-left: 2px solid #ccc;
  padding-left: 25px;
  opacity: 0.5;
  font: 20px LatoRegular serif;
  line-height: 30px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    color: #bdbdbd;
}

.article {
  background-color: #ffffff;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 0 0 50px rgba(0,0,0,0.2);
}

.article__cover-image {
  width: 100%;
}

.article__date {
  color: #bdbdbd;
  font: 14px LatoBold, serif;
  padding-top: 50px;
  margin-bottom: 25px;
}

.article__i-do-button {
  position: absolute;
  float: right;
  cursor: pointer;
  display: block;
  width: 100px;
  height: 30px;
  background-color: #5c6bc0;
  border: none;
  outline: none;
  margin: 20px 0;
  margin-left: 780px;
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 350ms;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 350ms;
}

.article__i-do-button:hover {
  background-color: #6c79c6;
  -webkit-transform: scale(1.3,1.3);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 350ms;
  -moz-transform: scale(1.3,1.3);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 350ms;
}

.article__i-do-button:active {
  background-color: #5360ac;
}

.article__i-do-button a {
  text-align: center;
  font: 14px LatoBold, serif;
  color: #ffffff;
}

.article__head-of-article {
  font: 40px LatoBold, serif;
}

.article__separator {
  border: none;
  height: 2px;
  background-color: #eeeeee;
  margin: 40px 0;
}

.article__article-desc {
  opacity: 0.5;
  font: 21px LatoRegular serif;
  margin-bottom: 50px;
  line-height: 30px;
}

.article__article-text {
  font: 17px LatoRegular, serif;
  line-height: 30px;
  color: #000000;
  margin: 40px 0;
  opacity: 0.7;
}

.article-footer__read-more {
  cursor: pointer;
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font: 21px LatoBold, serif;
  color: #5c6bc0;
  outline: none;
  text-decoration: none;
  margin: 40px 0;
  margin-left: -10px;
}

.article-footer__read-more:hover {
  border: 2px solid #f1f1f1;
}

.article-footer__read-more:active {
  border: 2px solid #7d89cd;
}

.article-footer-hashtags {
  float: right;
  text-decoration: none;
  margin-top: 60px;
}

.article-footer-hashtags__tags {
  display: inline-block;
  margin-right: 10px;
}

.article-footer-hashtags__tags:last-child {
  margin-right: 0;
}

.article-footer-hashtags__tags a {
  text-decoration: none;
  font: 15px LatoBold, serif;
  color: #000;
  opacity: 0.3;
}

.article-footer-hashtags__tags a:hover {
  text-decoration: underline;
  color: #727fc8;
  opacity: 1;
}

.article-footer-hashtags__tags a:active {
  text-decoration: none;
  color: #727fc8;
}

.margin-container_footer {
  margin: 0 320px;
}

.footer {
  display: flex;
  background-color: #5c6bc0;
}

.footer-logo {
  width: 100%;
  display: block;
  text-align: center;
  opacity: 0.2;
  padding: 65px 0;
}

.navigation_footer {
  width: 100%;
  text-align: center;
}

.navigation__link_footer {
  margin-right: 40px;
  display: inline-block;
}

.navigation__link_footer:last-child {
  margin-right: 0;
}

.navigation__link_footer a {
  font: 16px LatoBold, serif;
  text-transform: uppercase;
  color: #ffffff;
}

.navigation__link_footer a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #ffffff;
    transition: width 0.7s ease-in-out;
}

.navigation__link_footer a:hover:after,
.navigation__link_footer a:focus:after {
    width: 100%;
}

.navigation__link_footer a:active {
  text-transform: uppercase;
  font: 16px LatoBold, serif;
  color: #ffffff;
}

.navigation__link_footer .disabled {
  opacity: 0.5;
}

.footer__separator {
  border: none;
  height: 2px;
  background-color: #000000;
  margin: 40px 0px;
  opacity: 0.1;
}

.fourth-line-footer {
  margin: 0 20px;
}

.footer__text {
  font: 13px LatoRegular, serif;
  color: #fff;
  opacity: 0.5;
  text-align: center;
  margin-bottom: 35px;
}

.footer__text a {
  display: inline-block;
  color: #ffffff;
  font: 14px LatoBold, serif;
}

.footer__text a:hover {
  text-decoration: underline;
}