/*The fonts installed on the system,
but the first step to their connection
has already been made in the CSS*/

@font-face {
  font-family:LatoBold;
  src:url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family:LatoRegular;
  src:url(../fonts/Lato-Regular.ttf);
}

.body {
  background-color: #f7f9fc;
  margin: 0 auto;
}

.container {
  width:960px; margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

ol, ul {
  list-style: none;
}

 p {
  margin-top: 30px;
 }

 input, textarea {
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
 }

.progress-bar {
  position: absolute;
}

.header {
  padding: 80px 0;
}

.logo {
  float: left;
}

.navigation {
  float: right;
  padding-top: 10px;
}

.navigation li {
  float: left;
  margin-right: 35px;
}

.navigation li:last-child {
  margin-right: 0;
}

.navigation a {
  text-transform: uppercase;
  font: 16px LatoBold, sans-serif;
  color: #333333;
}

.navigation a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #5c6bc0;
    transition: width 0.7s ease-in-out;
}

.navigation a:hover:after,
.navigation a:focus:after {
    width: 100%;
}

.navigation a:active {
  text-transform: uppercase;
  font: 16px LatoBold, sans-serif;
  color: #5c6bc0;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    color: #bdbdbd;
}

.container-for-content {
  background-color: #ffffff;
  margin-top: 0px;
  margin-bottom: 50px;
  display: flex;
  box-shadow: 0 0 50px rgba(0,0,0,0.2);
}

.margin-container {
  margin: 0 100px;
}

.head-of-article {
  margin-top: 80px;
  font: 40px LatoBold, sans-serif;
}

.article-text {
  font: 17px LatoRegular, sans-serif;
  margin-top: 40px;
  line-height: 30px;
  color: #000000;
  opacity: 0.7;
}

.separator {
  border: none;
  height: 2px;
  background-color: #eeeeee;
  margin: 40px 0;
}

.input {
  font: 17px LatoRegular, sans-serif;
  color: #333333;
  width: 354px;
  height: 55px;
  border: none;
  background-color: #f7f9fc;
  margin-bottom: 30px;
}

.input-subject {
  width: 754px;
}

.input-message {
  width: 754px;
  max-width: 754px;
  height: 150px;
}

::-webkit-input-placeholder {
  padding-top: 20px;
}

.send-message {
  cursor: pointer;
  display: inline-block;
  width: 180px;
  height: 50px;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font: 21px LatoBold, sans-serif;
  color: #5c6bc0;
  outline: none;
  text-decoration: none;
  margin: 40px 0;
  margin-left: -10px;
}

.send-message:hover {
  border: 2px solid #f1f1f1;
}

.send-message:active {
  border: 2px solid #7d89cd;
}

.footer-margin-container {
  margin: 0 320px;
}

.footer {
  display: flex;
  background-color: #5c6bc0;
}

.footer-logo {
  width: 100%;
  display: block;
  text-align: center;
  opacity: 0.2;
  padding: 65px 0;
}

.footer-navigation {
  width: 100%;
  text-align: center;
}

.footer-navigation li {
  margin-right: 40px;
  display: inline-block;
}

.footer-navigation li:last-child {
  margin-right: 0;
}


.footer-navigation a {
  font: 16px LatoBold sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-navigation li a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #ffffff;
    transition: width 0.7s ease-in-out;
}

.footer-navigation li a:hover:after,
.footer-navigation li a:focus:after {
    width: 100%;
}

.footer-navigation li a:active {
  text-transform: uppercase;
  font: 16px LatoBold, sans-serif;
  color: #ffffff;
}

.footer-navigation .disabled {
  opacity: 0.5;
}

.footer-separator {
  border: none;
  height: 2px;
  background-color: #000000;
  margin: 40px 0px;
  opacity: 0.1;
}

.fourth-line-footer {
  margin: 0 20px;
}

.footer-text {
  font: 13px LatoRegular, sans-serif;
  color: #fff;
  opacity: 0.5;
  text-align: center;
  margin-bottom: 35px;
}

.footer-text a {
  display: inline-block;
  color: #ffffff;
  font: 14px LatoBold, sans-serif;
}

.footer-text a:hover {
  text-decoration: underline;
}

.social-networks {
  text-align: center;
  margin-bottom: 50px;
}

.social-networks li {
  display: inline-block;
  margin-right: 20px;
}

.social-networks a {
  display: inline-block;
}

.social-networks a:last-child {
  margin-right: 0;
}