/*The fonts installed on the system,
but the first step to their connection
has already been made in the CSS*/

@font-face {
  font-family:LatoBold;
  src:url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family:LatoRegular;
  src:url(../fonts/Lato-Regular.ttf);
}

.article__head-of-article_contact {
  padding-top: 80px;
  font: 40px LatoBold, serif;
}

.form__input {
  font: 17px LatoRegular, serif;
  color: #333333;
  width: 382px;
  height: 55px;
  border: none;
  background-color: #f7f9fc;
  margin-bottom: 30px;
  padding: 0 20px;
}

.form__input:active {
  border: none;
}

.form__input-subject {
  width: 100%;
}

.form__input-message {
  width: 100%;
  max-width: 100%;
  height: 150px;
}

::-webkit-input-placeholder {
  padding-top: 20px;
}

.form__send-message {
  cursor: pointer;
  display: inline-block;
  width: 180px;
  height: 50px;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font: 21px LatoBold, serif;
  color: #5c6bc0;
  outline: none;
  text-decoration: none;
  margin: 40px 0;
  margin-left: -10px;
}

.form__send-message:hover {
  border: 2px solid #f1f1f1;
}

.form__send-message:active {
  border: 2px solid #7d89cd;
}

.footer-margin-container {
  margin: 0 320px;
}

.footer {
  display: flex;
  background-color: #5c6bc0;
}

.footer-logo {
  width: 100%;
  display: block;
  text-align: center;
  opacity: 0.2;
  padding: 65px 0;
}

.footer-navigation {
  width: 100%;
  text-align: center;
}

.footer-navigation li {
  margin-right: 40px;
  display: inline-block;
}

.footer-navigation li:last-child {
  margin-right: 0;
}


.footer-navigation a {
  font: 16px LatoBold, serif;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-navigation li a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #ffffff;
    transition: width 0.7s ease-in-out;
}

.footer-navigation li a:hover:after,
.footer-navigation li a:focus:after {
    width: 100%;
}

.footer-navigation li a:active {
  color: #ffffff;
}

.footer-separator {
  border: none;
  height: 2px;
  background-color: #000000;
  margin: 40px 0px;
  opacity: 0.1;
}

.fourth-line-footer {
  margin: 0 20px;
}

.footer-text {
  font: 13px LatoRegular, serif;
  color: #fff;
  opacity: 0.5;
  text-align: center;
  margin-bottom: 35px;
}

.footer-text a {
  display: inline-block;
  color: #ffffff;
  font: 14px LatoBold, serif;
}

.footer-text a:hover {
  text-decoration: underline;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    color: #bdbdbd;
}