@font-face {
  font-family:inconsolata;
  src:url(../fonts/Inconsolata-Regular.ttf);
}

@font-face {
  font-family:playfairBlack;
  src:url(../fonts/PlayfairDisplay-Black.otf);
}

@font-face {
  font-family:playfairItalic;
  src:url(../fonts/PlayfairDisplayItalic.ttf);
}

@font-face {
  font-family:playfairRegular;
  src:url(../fonts/PlayfairDisplayRegular.ttf);
}

@font-face {
  font-family:ubuntu;
  src:url(../fonts/Ubuntu-L.ttf);
}

a {
  text-decoration: none;
  color: black;
}

.body {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1062px;
  margin: 0 auto;
  clear: both;
}

.wrapper:after {
  content: '';
  display: table;
  clear: both;
}

.header {
  height: auto;
}

.header__logo {
  display: inline-block;
  padding-top: 30px;
  font-family: inconsolata;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 30px;
  width: 50%;
}

.header__navigation {
  height: 100px;
  float: right;
}

.header__navigation_point {
  display: inline-block;
  font-size: 14px;
  padding-top: 40px;
  padding-left: 60px;
  font-family: playfairRegular;
  text-transform: uppercase;
  color: #626262;
}

.article {
  float: left;
  width: calc(100% - 272px);
}

.article__text {
  float: left;
}

.article__abzac {
  padding: 0 20px;
  font-family: playfairItalic;
  font-size: 14px;
  color: #626262;
  width: 650px;
  list-style: none;
}

.article__text span {
  font-family: playfairBlack;
}

.article__photodiary {
  font-family: ubuntu;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 40px;
  color: #626262;
}

.article__headOfArticle {
  float: left;
  font-family: playfairRegular;
  font-size: 30px;
}

.article__text {
  font-family: playfairRegular;
  font-size: 14px;
  color: #626262;
  width: 650px;
  margin-right: 100px;
}

.article__articleImages {
  max-width: 100%;
}

.aboutMe {
  display: inline-block;
  width: 272px;
  margin-top: 45px;
}

.aboutMe__about {
  margin: 10px 0;
  list-style: none;
  font-family: playfairRegular;
  font-size: 24px;
  text-transform: uppercase;
  color: #626262;
}

.aboutMe__text {
  list-style: none;
  font-family: playfairRegular;
  font-size: 12px;
  color: #626262;
}

.aboutMe__share {
  padding: 0;
}

.aboutMe__share_icon {
  margin-right: 10px;
  display: inline-block;
  font-family: playfairRegular;
}

.aboutMe__topPostsText {
  list-style: none;
  font-family: ubuntu;
  font-size: 14px;
  color: #b4ad9e;
  text-transform: uppercase;
}

.aboutMe__topPostsHead {
  margin: 30px 0;
  color: #b4ad9e;
}

.aboutMe__topPostsHead_link {
  font-family: playfairRegular;
  font-size: 16px;
  color: #626262;
}

.aboutMe__topPostsComments {
  font-family: ubuntu;
  margin: 0 30px;
  font-size: 12px;
  display: block;
  color: #b4ad9e;
}

.article__share {
  float: right;
  display: block;
  list-style: none;
}

.article__share_icon {
  display: inline-block;
  margin-left: 10px;
  font-family: ubuntu;
  font-size: 13px;
  text-transform: uppercase;
  color: #b4ad9e;
}

.footer {
  background-color: #d9d9d9;
  width: 100%;
  padding: 40px 0;
}

.footer__leftFooterMenu {
  list-style: none;
  display: inline-block;
  font-family: playfairRegular;
  font-size: 14px;
  margin: 0 20px;
  padding: 0;
}

.footer__share {
  float: right;
  margin-right: 15px;
  font-family: playfairRegular;
  font-size: 14px;
}

.footer__share_icon {
  display: inline-block;
  margin-left: 10px;
  font-family: ubuntu;
  font-size: 14px;
  color: #000000;
}